@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btnPrimary {
  @apply p-1 bg-slate-600 text-white rounded-md;
}
.btnPrimary:disabled {
  @apply p-1 bg-slate-100 text-gray-500 rounded-md cursor-not-allowed;
}
.btnDanger {
  @apply p-1 bg-red-100 text-black rounded-md;
}
.btnSuccess {
  @apply p-1 bg-green-500 text-white rounded-md;
}
.btnSecondary {
  @apply p-1 bg-blue-300 text-white rounded-md;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
